@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form action="/FormHandler" method="get">
    <label for="id">Enter Watch ID:</label>
    <input id="id" type="number" name="id" value="" required />

    <label for="name">Enter Watch Name:</label>
    <input id="name" type="text" name="name" value="" required />

    <label for="image">Enter Watch URL:</label>
    <input id="image" type="text" name="image" value="" required />

    <input type="submit" name="submit" value="Submit" />
</form>